@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: #293845;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 67px;
  background-color: #c3cfd9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e8833a;
  font-size: 34px;
  text-transform: uppercase;
}

.view {
  margin-top: 67px;
}

.page-title {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
}

.movie-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  cursor: pointer;
}

.movie-list .movie {
  display: flex;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 11px;
}

.movie-list .movie img {
  width: 129px;
  height: 193px;
  object-fit: cover;
}

.day-list {
  display: flex;
  flex-direction: column;
  padding: 0 23px;
  margin-bottom: 117px;
}

.day-list .day {
  margin: 0 0 22px;
}

.day-list .day .title {
  font-size: 20px;
  margin: 0 0 22px;
}

.day-list .day .showtime-list {
  display: flex;
}

.day-list .day .showtime-list .showtime {
  background-color: #e8833a;
  border-radius: 3px;
  width: 83px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-right: 8px;
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 117px;
  border-top: 1px solid #9eadba;
  background-color: #dfe6ed;
  padding: 14px 10px;
  display: flex;
}

.footer .poster {
  padding: 8px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.footer .poster img {
  width: 48px;
  height: 72px;
  object-fit: cover;
}

.footer .info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
  font-size: 26px;
  line-height: 120%;
}

.page-seats, .page-review {
  margin-bottom: 117px;
  padding-bottom: 24px;
}

.seat-list {
  padding: 0 24px;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: -20px auto 0;
}

.seat {
  width: 22px;
  height: 22px;
  border: 1px solid #808f9d;
  background-color: #c3cfd9;
  border-radius: 50%;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  margin-bottom: 18px;
  cursor: pointer;
}

.seat:not(:nth-child(10n)) {
  margin-right: 5px;
}

.seat.unavailable {
  background-color: #fbe192;
  border-color: #f7c52b;
}

.seat.selected {
  background-color: #8dd7cf;
  border-color: #1aae9e;
}

.seat-subtitle {
  width: 320px;
  padding: 0 57px;
  display: flex;
  justify-content: space-between;
  margin: -1px auto 0;
}

.seat-subtitle .subtitle {
  width: 68px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  letter-spacing: -0.013em;
  color: #4e5a65;
  text-align: center;
}

.seat-subtitle .seat {
  margin: 0 0 10px;
}

.form {
  margin-top: 31px;
  padding: 0 24px;
}

.form .input-group {
  display: flex;
  flex-direction: column;
}

.form .input-group:not(:last-child) {
  margin-bottom: 11px;
}

.form .input-group .title {
  font-size: 18px;
  color: #293845;
}

.form .input-group input {
  border-radius: 3px;
  padding: 18px;
  border: 1px solid #d4d4d4;
  height: 51px;
  font-size: 18px;
  margin-top: 6px;
}

.form .input-group input::placeholder {
  color: #afafaf;
  font-style: italic;
  font-size: 18px;
}

.book-seats, .back-home {
  width: 225px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #e8833a;
  border: none;
  border-radius: 3px;
  margin: 0 auto;
}
